$font-family-work-suns: "Work Sans", sans-serif;
$font-family-display: "Playfair Display", sans-serif;
$white: rgb(255,255,255);
$black: #252525;

@import 'media-queries.scss';
@import "swiper.css";
@import 'header.scss';
@import 'about.scss';
@import 'numbers.scss';
@import 'projects.scss';
@import 'slider.scss';
@import 'clients.scss';
@import 'blog.scss';
@import 'contacts.scss';
@import 'footer.scss';

